{% extends 'base.html' %}
{% block title %}| Отправка сообщений{% endblock title %}
{% load static %}

{% block content %}

    <div class="container">

        <h3 class="mb-3">Отправка сообщений</h3>
        <form action="{% url 'send_message' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <input type="text" name="subject" class="form-control" placeholder="Тема" required>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <select name="students" id="" multiple class="multiple" data-placeholder="Выберите учеников" required> 
                        {% for student in students %}
                            <option value="{{ student.id }}" {% if id == student.id %}selected{% endif %}>{{ student.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <textarea name="message" id="" class="form-control" rows="5" placeholder="Сообщение" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Отправить</button>
                </div>
            </div>
        </form>
       
    </div>

{% endblock content %}